@import "tailwindcss";

@theme {
    --font-sans: "Geist", "Geist Fallback";
    --font-mono: "Geist Mono", "Geist Mono Fallback";

    --color-primary: oklch(89.9% 0.061 343.231);
    --color-secondary: oklch(27.8% 0.033 256.848);

    --breakpoint-xs: 30rem;

    --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

    --animate-background-position: background-position 1s ease-in-out infinite;
    --animate-background-position-vertical: background-position-vertical 1s
        ease-in-out infinite;

    @keyframes background-position {
        0%,
        100% {
            background-position: 0 0;
        }
        50% {
            background-position: 0 100%;
        }
    }

    @keyframes background-position-vertical {
        0%,
        100% {
            background-position: 0 0;
        }
        50% {
            background-position: 100% 0;
        }
    }
}

:root {
    --sh-class: oklch(78% 0.15 330);
    --sh-identifier: oklch(82% 0.15 90);
    --sh-sign: oklch(75% 0.17 200);
    --sh-property: oklch(75% 0.17 130);
    --sh-entity: oklch(80% 0.18 250);
    --sh-jsxliterals: oklch(80% 0.18 45);
    --sh-string: oklch(75% 0.2 20);
    --sh-keyword: oklch(80% 0.18 280);
    --sh-comment: oklch(60% 0.05 260);
}

@layer base {
    body {
        @apply text-sm md:text-base;
    }

    h1 {
        @apply text-2xl font-bold md:text-4xl;
    }

    h2 {
        @apply text-xl font-bold md:text-3xl;
    }

    h3 {
        @apply text-lg font-bold md:text-2xl;
    }

    h4 {
        @apply text-base font-bold md:text-lg;
    }

    a {
        @apply cursor-pointer underline underline-offset-[6px];
    }

    pre {
        @apply bg-secondary overflow-x-auto rounded-lg p-2 leading-none;

        & > code {
            @apply bg-none p-0;
        }

        & ::selection {
            @apply bg-primary text-secondary;
        }
    }

    code {
        @apply bg-secondary rounded-lg px-2 py-1;

        & ::selection {
            @apply bg-primary text-secondary;
        }
    }

    .layout {
        @apply mx-auto size-full max-w-5xl p-4;
    }

    ::selection {
        @apply bg-secondary text-primary;
    }

    ::-webkit-scrollbar {
        @apply bg-primary size-2 p-2;
    }

    ::-webkit-scrollbar-track {
        @apply bg-primary rounded-lg;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-secondary rounded-lg;
    }
}

@utility animated-underline {
    @apply before:ease-out-cubic before:bg-secondary after:ease-out-cubic after:bg-secondary relative inline-block w-fit no-underline before:absolute before:bottom-0 before:left-0 before:h-px before:w-full before:origin-left before:scale-x-0 before:transition-transform before:duration-[500ms] after:absolute after:bottom-0 after:left-0 after:h-px after:w-full after:origin-right after:scale-x-100 after:transition-transform after:duration-[750ms] hover:before:scale-x-100 hover:before:duration-[750ms] hover:after:scale-x-0 hover:after:duration-[500ms];
}
